
*{
  margin: 0;
  padding: 0;
}

.intro{
    background: url("../images/baner1.jpeg");
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
    .fas{
      font-size: 3em;
      position:absolute;
      color: red;
      cursor:pointer;
    }
    .fa-arrow-left{
      left:0;
      top: 50%;
    }
    
     .fa-arrow-right{
       right:0;
       top: 50%;
    }
    ul{
      display: flex;
      justify-content: center;
      list-style-type: none;
      
    }
    li{
      color: red;
      font-size: 1.5em;
      padding: 10px;
    }
   
  }
  